$primary: #001665;
$secondary: #00b6b6;
$secondary1: #e3e7f6;
$secondary2: #cfd3de;
$secondary3: #bec8ea;
$secondary4: #d4def8;
$white: #ffffff;
$black: #000;
$borderColor1: #6584f0;
$textColor: #001665;

/** Colors **/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: $white;
  box-sizing: border-box;
  // touch-action: pan-x pan-y;
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

img {
  width: 100%;
  height: auto;
}

span,
p,
div {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h1,
.h1 {
  font-size: 16px;
  font-weight: 700;
}

.notAButton {
  padding: 14px 40px;
  width: fit-content;
  height: 49px;
  background: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 21px;
  color: #001665;

  @media (max-width: 576px) {
    width: fit-content;
    height: 37px;
    background: #ffffff;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #001665;
    padding: 8px 25px;
  }
}

/**Components**/
@import "./components/button";

/** Modules **/
@import "./modules/ourpartner";
@import "./modules/cover";
@import "./modules/footer";
@import "./modules/developmentstyle";
@import "./modules/development";
@import "./modules/inquiry";
@import "./modules/board";
@import "./modules/ourmission";
@import "./modules/strength";
@import "./modules/development-flow";
@import "./modules/navbar";
@import "./modules/development-board-image";
@import "./modules/development-result";
@import "./modules/mission";
@import "./modules/circle-anim";
@import "./modules/company-attribute";
@import "./modules/chevronContainer";