.boardMembers {
  margin-top: -6rem;

  > div:first-child {
    height: 250px;

    @media screen and (max-width: 564px) {
      height: 120px !important;
    }

    > img {
      height: 100%;
      width: 100%;
    }
  }

  .main-img {
    display: flex;
    justify-content: center;
    align-items: center;

    & > div:last-child {
      padding: 2em 2em;
    }
  }

  .main-img1 {
    width: 33%;
    text-align: center;

    .content-title {
      font-size: 24px;
      @media screen and (max-width: 564px) {
        font-size: 18px;
      }
    }
  }

  .img {
    width: 294px;
    height: 320px;
    border: solid 10px #d7eded;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    object-fit: cover;
  }

  .img-container {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 0px 50px 64px 50px;
  }

  .img1 {
    max-height: 340px;
    height: 100%;
    object-fit: cover;
    width: 314px;
    max-width: 100%;
    height: auto;
    border: solid 10px white;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-top: 45px;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-bottom: 2em;
    align-items: center;
  }

  .board-container {
    background-color: #f0f5f5;
  }

  .heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
  }

  .svg {
    height: 76px;
    width: 76px;
  }

  .heading-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
  }

  .title {
    background: #001665;
    color: white;
    display: table;
    padding: 8px 40px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
  }

  .title-div1 {
    display: flex;
    padding-top: 20px;
    justify-content: center;
  }

  .title-div {
    display: flex;
    padding-top: 20px;

    .content-title {
      font-size: 24px;
    }
  }

  .board-text {
    .content-title {
      font-size: 24px;
      @media screen and (max-width: 564px) {
        font-size: 18px;
      }
    }

    .content {
      margin-top: -0.5em;
    }
    @media screen and (max-width: 564px) {
      padding: 1.2em !important;
    }
  }

  @media (max-width: 668px) {
    margin-top: 0px;

    .board-container {
      margin-top: -60px;
    }
  }

  @media only screen and (max-width: 700px) {
    .main-img {
      display: block;

      .mainImage--wrapper {
        width: 337px;
        height: 218px;
      }
    }

    .title-div {
      display: flex;
      justify-content: center;
      padding-top: 20px;
    }

    .main-img1 {
      width: 100%;
    }

    .img {
      box-shadow: 0px 0px 10px 1px #ccc;
    }

    .img-div {
      display: flex;
      justify-content: center;
      padding: 0 50px;
    }

    .content-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
    }

    .content {
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      padding: 0px;
    }

    .img-container {
      padding-bottom: 80px;
      padding-left: 25px;
      padding-right: 25px;
      display: block;
    }

    .heading {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }

    .svg {
      height: 30px;
      width: 30px;
    }

    .heading-content {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      margin-top: -10px;
    }
  }
}
