.chevronContainer {
  background: linear-gradient(297.8deg, #001665 49.49%, #00b5b6 100%);
  margin-top: 40px;
  display: flex;
  justify-content: end;
  position: relative;
  .content-div {
    max-width: 672px;
    margin: none !important;
  }
  .img-section {
    max-height: 840px;
    width: 60%;
    max-width: 50vw;
    padding-right: 0;
    @media (max-width: 576px) {
      display: none;
    }
    img.img-fluid {
      height: 100%;
      object-fit: cover;
    }
    &::before {
      clip-path: polygon(1% 50%, 127% -20%, 16% 54%, 59% 83%);
      background-color: #f8ce3a;
      content: "";
      width: 110px;
      z-index: 1;
      height: 100%;
      position: absolute;
    }
  }
  @media (min-width: 768px) {
    margin-top: 28px;
    background: linear-gradient(108.49deg, #001665 46.9%, #00b5b6 70.92%);
  }

  &--contentWrapper {
    padding-top: 28px;
    padding-left: 2rem;
    @media (min-width: 576px) {
      padding-top: 90px;
      max-width: 662px;
    }

    &__header {
      display: flex;
      justify-content: start;
      align-items: center;

      .sectionTitleBg {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #001665;
        background-color: $white;
        width: fit-content;
        padding: 8px 24px;

        @media (min-width: 576px) {
          font-size: 24px;
          padding: 14px 40px;
        }
      }
      @media (max-width: 768px) {
        justify-content: center;
      }
    }

    &__image {
      margin-top: 45px;
      @media (min-width: 576px) {
        display: none;
      }
      @media (max-width: 768px) {
        margin-left: -2rem;
        padding: 0px 28px;
      }
      @media (max-width: 576px) {
        padding: 0px;
      }
    }

    &__content {
      padding: 24px 32px 20px 0px;
      height: 428px;

      @media (min-width: 576px) {
        height: fit-content;
      }

      &--heading {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: $white;

        @media (min-width: 576px) {
          font-weight: 600;
          font-size: 24px;
          line-height: 33px;
        }
      }

      &--paragraph {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #fff9f9;
        margin-top: 25px;

        @media (min-width: 576px) {
          font-size: 18px;
          line-height: 33px;
        }

        .ptag {
          margin-bottom: 24px !important;
        }
      }
    }
  }

  &--clippedimageWrapper {
    width: 100%;
    max-width: 50vw;
    height: 100%;
    position: relative;
    clip-path: polygon(100px 0%, 100% 0%, 100% 100%, 100px 100%, 0% 50%);
  }
}
