.circle-bg {
  width: 100%;
  height: fit-content;
  position: absolute;
  z-index: -1;
  .main-circle {
    width: 50%;
    margin: auto;
    position: relative;
    height: 100%;
    & > img {
      width: 100%;
      height: auto;
      transform: scale(0);
      transition: transform 1.4s linear;
    }
    &::before {
      position: absolute;
      content: url("/public/img/anim-assets/big-c.svg");
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s;
    }
    &::after {
      position: absolute;
      display: none;
      content: url("/public/img/anim-assets/border-c.svg");
      width: 50%;
      height: 100%;
      transform: scale(1.5);
      right: 24%;
      top: 15%;
      opacity: 0;
      transition: opacity 1s, transform 1s;
    }
  }
  .circle-outline {
    position: absolute;
    top: 0;
    width: 100%;
    img {
      width: 100%;
      height: auto;
      transform: scale(1);
      opacity: 0;
      transition: transform 1s, opacity 1s;
    }
  }
  #left-circle,
  #right-circle {
    width: 36%;
    position: absolute;
    display: flex;
    opacity: 0;
    top: 0;
    height: 100%;
    align-items: center;
    z-index: -100;
    & > img {
      margin: auto;
    }
  }
  #left-circle {
    left: -30%;
    transition: left 1s, opacity 1s;
  }
  #right-circle {
    right: -30%;
    transition: right 1s, opacity 1s;
  }
  .anim {
    &::before {
      opacity: 1;
      transition: opacity 1s;
    }
    &::after {
      opacity: 1;
      transform: scale(0.6);
      transition: opacity 2s, transform 1s ease-out;
    }
    & > img {
      transform: scale(1);
      transition: transform 1.4s linear;
    }
    & .circle-outline > img {
      transform: scale(0.4);
      opacity: 1;
      transition: transform 1s, opacity 1s;
    }
  }
  #left-circle.anim {
    left: 0%;
    opacity: 1;
    transition: opacity 1s, left 1s;
  }
  #right-circle.anim {
    right: 0%;
    opacity: 1;
    transition: opacity 1s, right 1s;
  }
}

@media (max-width: 564px) {
  #left-circle,
  #right-circle {
    display: none !important;
  }
  .circle-bg .main-circle {
    width: 100%;
  }
}
