.developmentFeatureSection {
  background-color: #f3f6ff;
  padding: 50px;
  padding-top: 90px;
  padding-bottom: 90px;

  .main-title {
    display: flex;
    justify-content: center;
  }

  .sectionTitleBg {
    @extend .notAButton;
    background-color: $primary !important;
    color: $white !important;
    margin-bottom: 20px;
  }

  .p {
    text-align: center;
    padding: 0px 46px;
    margin-bottom: 50px;
  }

  .background-img {
    background-image: url("/public/img/chart.png");
  }

  @media only screen and (max-width: 700px) {
    .container-xl {
      margin-top: 25px;
      padding-bottom: 46px;
    }
    padding: 0;
    padding-top: 24px;
    .background-img {
      background-image: url("/public/img/chart-sm.png");
    }
    .container-xl {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
