.partner-header {
  margin: 60px auto 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &__logo {
    padding-right: 20px;

    img {
      height: 30px;
      width: 30px;
    }
  }

  &__body {
    max-width: 180px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      margin-bottom: 0px;
    }
  }
}
@media (max-width: 576px) {
  .partner-header {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .partner-header {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

.partner-card,
.partner-logo-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  align-items: center;
  border: 1px solid #eeeeee;
  box-shadow: 8px 8px 24px rgba(18, 18, 18, 0.08);
  border-radius: 12px;
}

.partner-card {
  width: 100%;
  padding: 20px;
  margin: 10px;

  &__img {
    img {
      width: 50px;
      height: 50px;
    }

    padding: 0 20px;
  }

  &__body {
    text-align: center;
    font-size: 14px;

    span {
      font-weight: 500;
    }

    & > div {
      font-size: 24px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__sub-text {
    font-size: 14px;
    font-weight: 300;
    padding-left: 8px;
  }
}

#partner-logo-wrapper {
  position: relative;
  margin-bottom: 124px;
  margin-bottom: 97px;

  //   Left and right circle
  #partner-logo-bg {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  #partner-logo-bg::before,
  #partner-logo-bg::after,
  .center-section > .center-circle,
  .center-section > .center-circle::after,
  .center-section > .center-circle::before {
    content: "";
    position: absolute;
    z-index: -2;
    display: none;
    height: 422px;
    width: 422px;
    top: 10%;
    background: #fafbff;
    border-radius: 50%;
  }

  #partner-logo-bg::before {
    left: -10%;
    z-index: -100;
  }

  #partner-logo-bg::after {
    right: -10%;
    z-index: -100;
  }

  .center-section {
    z-index: -1;

    .center-circle {
      height: min(90vw, 362px);
      width: min(90vw, 362px);
      left: initial;
      top: 0%;
      background: linear-gradient(
        157.94deg,
        #e8ecfb 42.88%,
        rgba(162, 255, 255, 0.19) 85.45%
      );
      z-index: initial;
    }

    .center-circle::after {
      height: 110vw;
      display: none;
      width: 110vw;
      background-color: #f5f7ff;
      left: -11%;
      top: -11%;
      z-index: -15;
    }

    .center-circle::before {
      height: 130vw;
      width: 130vw;
      z-index: -17;
      left: -20%;
      top: -20%;
      background-color: #fafbff;
    }
  }
  @media (max-width: 576px) {
    margin-bottom: 0px;
  }
}
@media (max-width: 576px) {
  .container-xl {
    margin-top: 60px;
    margin-bottom: 0px;
    hr {
      margin-top: 90px;
      margin-bottom: 63px;
    }
  }
}

#partner-logo-section {
  margin-top: 60px;
  padding-top: 4.3rem;
  display: grid;
  gap: 48px;
  max-width: 1020px;
  margin: auto;
  grid-template-columns: 1fr 1fr;

  .partner-logo-card {
    padding: 16px 24px;
    background: white;
    width: 100%;
    min-height: 100%;
    img {
      width: 100%;
      height: auto;
      max-width: 170px;
    }
  }

  & > .center-section {
    grid-column: 1 / span 2;
    text-align: center;

    & > .partner-logo-card {
      min-height: 72px;
      margin: auto;
      width: 50%;
    }

    & > img {
      height: 26px;
      margin: 16px 0;
      width: auto;
    }

    & > .partner-logo-card,
    & > img {
      position: relative;
    }
  }
}

#partner-logo-section.anim {
  gap: 16px;
  transition: gap 2s;
}
// Desktop view
@media screen and (min-width: 768px) {
  .partner-logo-card {
    padding: 24px !important;
    max-height: 90px !important;
  }

  #partner-logo-section.anim {
    gap: 48px !important;
    transition: gap 2s;
  }
  #partner-logo-wrapper {
    margin-bottom: 124px;
  }

  .partner-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    &__logo {
      img {
        height: 76px;
        width: 76px;
      }
    }

    &__body {
      max-width: 332px;

      h1 {
        font-size: 32px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .partner-card {
    width: 30%;
    max-width: 395px;
    padding: 32px 0;

    &__body {
      font-size: 20px;

      & > div {
        font-size: 32px;

        span {
          font-size: 18px;
        }
      }
    }
  }

  #partner-logo-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 90px);
    gap: 84px;

    & > div:nth-child(1) {
      grid-column: 2 / span 1;
      img {
        height: 100%;
        width: auto;
      }
    }

    & > div:nth-child(2) {
      grid-area: 2 / 1 / span 1 / span 1;
    }

    & > div:nth-child(4) {
      grid-area: 4 / 2 / span 1 / span 1;
      img {
        height: 100%;
        width: auto;
      }
    }

    & > div:nth-child(5) {
      grid-area: 2 / 3 / span 1 / span 1;
      img {
        height: 100%;
        width: auto;
      }
    }

    & > div:nth-child(6) {
      grid-area: 3 / 1 / span 1 / span 1;
    }

    & > div:nth-child(7) {
      grid-area: 3 / 3 / span 1 / span 1;
      img {
        height: 100%;
        width: auto;
      }
    }

    & > .center-section {
      grid-area: 2 / 2 / span 2 / span 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      & > .partner-logo-card {
        img {
          max-width: 170px;
        }
      }
      & > img {
        width: min-content;
        margin: 0;
      }

      & .partner-logo-card {
        min-height: 90px;
        width: 100%;
        margin: 0;
      }

      .center-circle {
        height: 422px;
        width: 422px;
      }

      .center-circle::after {
        height: 473px;
        width: 473px;
      }

      .center-circle::before {
        height: 560px;
        width: 560px;
      }
    }
  }
}

#partner-logo-wrapper .background {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  padding-top: 4rem;
}
@media (max-width: 768px) {
  #partner-logo-wrapper .background {
    padding-top: 0px;
    margin-top: -1rem;
  }
}
