.strength-section {
  width: 100%;
  height: 100%;
}

.title-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 0;
  }

  .my-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    button {
      margin: 0.4em 0.5em;
      padding: 0.4em 3em;
      background: #e3e7f7;
      border: 1px solid #6584f0;
      border-radius: 40px;
      font-size: 16px;
      text-align: center;
      color: #001665;
    }
  }
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:hover {
  background-color: #001665 !important;
  color: white !important;
  box-shadow: none !important;
  border: 1px solid $primary !important;
}

#my-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  flex-wrap: wrap;

  &.sticky {
    padding: 0.5rem 0;
  }

  button {
    margin: 0.4em 0.5em;
    background: #e3e7f7;
    border: 1px solid #6584f0;
    padding: 0.2em 2em;
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
    color: #001665;
  }

  @media (max-width: 576px) {
    button {
      margin: 0.2em;
      padding: 0.2em 0.7em;
      border-radius: 40px;
      font-size: 12px;
    }
  }
}

.title-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: -20px;

  @media (min-width: 576px) {
    padding-top: 100px;
    margin-bottom: 50px;
  }

  img {
    @media (max-width: 576px) {
      width: 30px;
      height: 30px;
    }
  }

  .title {
    h1 {
      font-style: normal;
      font-weight: 700;
      margin-left: 1em;
      font-size: 28px;
      line-height: 42px;
      color: #000000;

      @media (max-width: 576px) {
        height: 24px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
      }
    }

    p {
      width: 264px;
      height: 47px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      color: #3d3d3d;

      @media (max-width: 576px) {
        width: 179px;
        height: 28px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #3d3d3d;
      }
    }
  }
}

.containers {
  .clip-container {
    width: 100%;
    height: 100%;
    margin-top: 30px;

    .wrapper {
      width: 100%;
      height: 900px;
      background: linear-gradient(108.49deg, #001665 46.9%, #00b5b6 70.92%);
      position: relative;

      @media (max-width: 576px) {
        background: linear-gradient(297.8deg, #001665 49.49%, #00b5b6 100%);
      }

      .team {
        width: 695px;
        position: absolute;
        height: 100%;
        right: 0;
        z-index: 1;

        @media (max-width: 576px) {
          display: none;
        }
      }

      .yellow {
        position: absolute;
        height: 95%;
        right: 0;
        width: 705px;

        @media (max-width: 576px) {
          display: none;
        }
      }

      .details {
        width: 100%;
        height: 100%;
        padding: 50px;
        // background-color: red;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: 576px) {
          display: flex;
          flex-direction: column;
          gap: 30px;
          justify-content: center;
          align-items: center;
        }

        .full-img {
          display: none;

          @media (max-width: 576px) {
            display: block;
            position: absolute;
            top: 100px;
            width: 100%;
          }
        }

        .notAButton {
          margin-top: 30px;
          padding: 14px 40px;
          width: fit-content;
          height: 49px;
          background: #ffffff;
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 21px;
          color: #001665;

          @media (max-width: 576px) {
            width: fit-content;
            height: 37px;
            background: #ffffff;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: #001665;
            padding: 8px 25px;
          }
        }

        h1 {
          width: 499px;
          height: 33px;
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 33px;
          color: #ffffff;

          @media (max-width: 576px) {
            position: absolute;
            top: 530px;
            width: 300px;
            height: 19px;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #ffffff;
            left: 50px;
          }
        }

        p {
          width: 100%;
          height: 582px;
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
          color: #fff9f9;

          @media (max-width: 576px) {
            padding: 200px 0px 30px 0px;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #fff9f9;
            margin: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .title-button .my-buttons {
    &>button {
      font-size: 12px;
      padding: 8px 16px;
    }
  }
}